<!doctype html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <title>🚀 Meu Portal Python</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="fundo-principal">
  
  <header>
    <img src="{{ url_for('static', filename='image.png') }}" alt="Logo Meu Portal Python">
  </header>

  <nav class="menu-horizontal">
    <a href="{{ url_for('calendario_page') }}">📅 Calendário</a> 
    <a href="{{ url_for('conversor_tempo_page') }}">🕒 Conversor de Tempo</a>
    <a href="{{ url_for('calculadora_page') }}">🧮 Calculadora</a>
    <a href="{{ url_for('clima_page') }}">☀️ Clima</a>
    <a href="{{ url_for('temperatura_page') }}">🌡️ Temperatura</a>
    <a href="{{ url_for('imc_page') }}">⚖️ IMC</a>
    <a href="{{ url_for('youtube_page') }}">▶️ YouTube</a>
    <a href="{{ url_for('encurtador_page') }}">🔗 Encurtador</a>
    <a href="{{ url_for('qrcode_page') }}">🔳 QR Code</a>
    <a href="{{ url_for('editor_page') }}">🖼️ Editor</a>
    <a href="{{ url_for('texto_page') }}">📝 Texto</a>
    <a href="{{ url_for('media_page') }}">📘 Média Escolar</a>
    <a href="{{ url_for('mapa_turistico_view') }}">🗺️ Mapa Turístico</a>
    <a href="{{ url_for('tradutor_page') }}">🌍 Tradutor</a>
    <a href="{{ url_for('conversor_page') }}">💱 Conversor Moedas</a>
    <a href="{{ url_for('orcamento_page') }}">💰 Orçamento</a>
    <a href="{{ url_for('consumo_combustivel_page') }}">🚗 Consumo de Combustível</a>
    <a href="{{ url_for('juros_compostos_page') }}">📈 Juros Compostos</a>
    <a href="{{ url_for('sorteio_page') }}">🎲 Sorteio</a>
    <a href="{{ url_for('equipes_page') }}">👥 Equipes</a>
    <a href="{{ url_for('quiz_page') }}">❓ Quiz</a>
    <a href="{{ url_for('senhas_page') }}">🔑 Senhas</a>
    <a href="{{ url_for('conversor_medidas_page') }}">⚙️ Conversor de Medidas</a>
  </nav>
</body>
</html>
